/*-----------------------------------*\
	$BASE RULES

	The color pallet
\*-----------------------------------*/

$tres: #333333;
$nied: #030000;
$opblack: #4f4f4f;
$blackgrey: #212121;
$greyblack: #545454;
$awhite: #f3f3f3;
$white: #ffffff;
$coolblue: #0091d5;
$sorrow: #196675;
$retsof: #3f3f3f;
$ccc: #cccccc;